## <b> About Dataset : </b>
Context
This is a small subset of dataset of Book reviews from Amazon Kindle Store category.

Content
5-core dataset of product reviews from Amazon Kindle Store category from May 1996 - July 2014. Contains total of 982619 entries. Each reviewer has at least 5 reviews and each product has at least 5 reviews in this dataset.
Columns

- asin - ID of the product, like B000FA64PK
- helpful - helpfulness rating of the review - example: 2/3.
- overall - rating of the product.
- reviewText - text of the review (heading).
- reviewTime - time of the review (raw).
- reviewerID - ID of the reviewer, like A3SPTOKDG7WBLN
- reviewerName - name of the reviewer.
- summary - summary of the review (description).
- unixReviewTime - unix timestamp.

Acknowledgements
This dataset is taken from Amazon product data, Julian McAuley, UCSD website. http://jmcauley.ucsd.edu/data/amazon/

License to the data files belong to them.

Inspiration
- Sentiment analysis on reviews.
- Understanding how people rate usefulness of a review/ What factors influence helpfulness of a review.
- Fake reviews/ outliers.
- Best rated product IDs, or similarity between products based on reviews alone (not the best idea ikr).
- Any other interesting analysis

### <b> Best Practises
1. Preprocessing And Cleaning - (Feature Engineering )
2. Train Test Split
3. BOW,TFIDF,Word2vec
4. Train ML algorithms

In [133]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [134]:
# Load the dataset
data=pd.read_csv("all_kindle_review .csv")
data.head()

,Unnamed: 0.1,Unnamed: 0,asin,helpful,rating,reviewText,reviewTime,reviewerID,reviewerName,summary,unixReviewTime
0,0,11539,B0033UV8HI,"[8, 10]",3,"Jace Rankin may be short, but he's nothing to ...","09 2, 2010",A3HHXRELK8BHQG,Ridley,Entertaining But Average,1283385600
1,1,5957,B002HJV4DE,"[1, 1]",5,Great short read. I didn't want to put it dow...,"10 8, 2013",A2RGNZ0TRF578I,Holly Butler,Terrific menage scenes!,1381190400
2,2,9146,B002ZG96I4,"[0, 0]",3,I'll start by saying this is the first of four...,"04 11, 2014",A3S0H2HV6U1I7F,Merissa,Snapdragon Alley,1397174400
3,3,7038,B002QHWOEU,"[1, 3]",3,Aggie is Angela Lansbury who carries pocketboo...,"07 5, 2014",AC4OQW3GZ919J,Cleargrace,very light murder cozy,1404518400
4,4,1776,B001A06VJ8,"[0, 1]",4,I did not expect this type of book to be in li...,"12 31, 2012",A3C9V987IQHOQD,Rjostler,Book,1356912000

In [135]:
data = data[['reviewText', 'rating']]
data

                                              reviewText  rating
0      Jace Rankin may be short, but he's nothing to ...       3
1      Great short read.  I didn't want to put it dow...       5
2      I'll start by saying this is the first of four...       3
3      Aggie is Angela Lansbury who carries pocketboo...       3
4      I did not expect this type of book to be in li...       4
...                                                  ...     ...
11995  Valentine cupid is a vampire- Jena and Ian ano...       4
11996  I have read all seven books in this series. Ap...       5
11997  This book really just wasn't my cuppa.  The si...       3
11998  tried to use it to charge my kindle, it didn't...       1
11999  Taking Instruction is a look into the often hi...       3

[12000 rows x 2 columns]

In [136]:
data.shape

(12000, 2)

In [137]:
data.isnull().sum()

reviewText    0
rating        0
dtype: int64

In [138]:
data['rating'].unique()

array([3, 5, 4, 2, 1], dtype=int64)

In [139]:
data['rating'].value_counts()

5    3000
4    3000
3    2000
2    2000
1    2000
Name: rating, dtype: int64

## <b> Data Preprocessing and Cleaning

In [140]:
#Positive Review = 1 , Negative Review = 0
data['rating'] = data['rating'].apply(lambda x:0 if x<3 else 1)

In [141]:
data.head()

                                          reviewText  rating
0  Jace Rankin may be short, but he's nothing to ...       1
1  Great short read.  I didn't want to put it dow...       1
2  I'll start by saying this is the first of four...       1
3  Aggie is Angela Lansbury who carries pocketboo...       1
4  I did not expect this type of book to be in li...       1

In [142]:
data['rating'].unique()

array([1, 0], dtype=int64)

In [143]:
data['rating'].value_counts()

1    8000
0    4000
Name: rating, dtype: int64

<b> Lower All The Cases :

In [144]:
data['reviewText'] = data['reviewText'].str.lower()

In [145]:
data.head()

                                          reviewText  rating
0  jace rankin may be short, but he's nothing to ...       1
1  great short read.  i didn't want to put it dow...       1
2  i'll start by saying this is the first of four...       1
3  aggie is angela lansbury who carries pocketboo...       1
4  i did not expect this type of book to be in li...       1

In [146]:
import re
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\ASUS\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [147]:
from nltk.corpus import stopwords

In [148]:
from bs4 import BeautifulSoup

In [149]:
## Removing Special Characters
data['reviewText']=data['reviewText'].apply(lambda x:re.sub('[^a-z A-z 0-9-]+', '',x))
## Remove the stopswords
data['reviewText']=data['reviewText'].apply(lambda x:" ".join([y for y in x.split() if y not in stopwords.words('english')]))
## Remove url 
data['reviewText']=data['reviewText'].apply(lambda x: re.sub(r'(http|https|ftp|ssh)://([\w_-]+(?:(?:\.[\w_-]+)+))([\w.,@?^=%&:/~+#-]*[\w@?^=%&/~+#-])?', '' , str(x)))
## Remove html tags
data['reviewText']=data['reviewText'].apply(lambda x: BeautifulSoup(x, 'lxml').get_text())
## Remove any additional spaces
data['reviewText']=data['reviewText'].apply(lambda x: " ".join(x.split()))

In [150]:
data.head()

                                          reviewText  rating
0  jace rankin may short hes nothing mess man hau...       1
1  great short read didnt want put read one sitti...       1
2  ill start saying first four books wasnt expect...       1
3  aggie angela lansbury carries pocketbooks inst...       1
4  expect type book library pleased find price right       1

In [151]:
## lemmatizer
from nltk.stem import WordNetLemmatizer

In [152]:
lemmatizer = WordNetLemmatizer()

In [153]:
def lemmatize_words(text):
    return " ".join([lemmatizer.lemmatize(word) for word in text.split()])

In [154]:
data['reviewText']=data['reviewText'].apply(lambda x:lemmatize_words(x))

In [155]:
data.head()

                                          reviewText  rating
0  jace rankin may short he nothing mess man haul...       1
1  great short read didnt want put read one sitti...       1
2  ill start saying first four book wasnt expecti...       1
3  aggie angela lansbury carry pocketbook instead...       1
4  expect type book library pleased find price right       1

## <b> Train Test Split

In [156]:
from sklearn.model_selection import train_test_split

In [157]:
X_train,X_test,y_train,y_test = train_test_split(data['reviewText'],data['rating'],test_size=0.20)

## BOW - Bag Of Words

In [158]:
from sklearn.feature_extraction.text import CountVectorizer

In [159]:
bow = CountVectorizer()

In [160]:
X_train_bow = bow.fit_transform(X_train).toarray()
X_test_bow = bow.transform(X_test).toarray()

## TF-IDF

In [161]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [162]:
tfidf = TfidfVectorizer()

In [163]:
X_train_tfidf = tfidf.fit_transform(X_train).toarray()
X_test_tfidf= tfidf.transform(X_test).toarray()

In [164]:
X_train_bow

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

#### <b>Implement Naives-Bayes Coz Its Fits Well On Sparse Matrix Dataset

In [165]:
from sklearn.naive_bayes import  GaussianNB

In [166]:
nb_model_bow = GaussianNB().fit(X_train_bow,y_train)

In [167]:
nb_model_tfidf = GaussianNB().fit(X_train_tfidf,y_train)

In [168]:
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [169]:
y_pred_bow = nb_model_bow.predict(X_test_bow)

In [170]:
y_pred_tfidf = nb_model_tfidf.predict(X_test_tfidf)

In [171]:
print("BOW Accuracy Score : ",accuracy_score(y_test,y_pred_bow))

BOW Accuracy Score :  0.5883333333333334

In [172]:
print(confusion_matrix(y_test,y_pred_bow))

[[541 278]
 [710 871]]

In [173]:
print(classification_report(y_test,y_pred_bow))

              precision    recall  f1-score   support

           0       0.43      0.66      0.52       819
           1       0.76      0.55      0.64      1581

    accuracy                           0.59      2400
   macro avg       0.60      0.61      0.58      2400
weighted avg       0.65      0.59      0.60      2400

In [174]:
print("TF-IDF Accuracy Score : ",accuracy_score(y_test,y_pred_tfidf))

TF-IDF Accuracy Score :  0.5891666666666666

In [175]:
print(confusion_matrix(y_test,y_pred_tfidf))

[[528 291]
 [695 886]]

In [176]:
print(classification_report(y_test,y_pred_tfidf))

              precision    recall  f1-score   support

           0       0.43      0.64      0.52       819
           1       0.75      0.56      0.64      1581

    accuracy                           0.59      2400
   macro avg       0.59      0.60      0.58      2400
weighted avg       0.64      0.59      0.60      2400